[submodule "Engine/thirdparty/spdlog"]
	path = Engine/thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GameEngine/thirdparty"]
	path = GameEngine/thirdparty
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
